body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    color: #36454F;
}

header {
    background-color: #ffffff;
    color: #333333;
    padding: 0.3rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav ul {
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    padding-right: 25px;
    display: flex;
    gap: 30px;
}

nav ul li a {
    color: #333333;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px; /* Adjust this value as needed */
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #3498db;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    color: #3498db;
    font-weight: 700;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(54, 69, 79, 0.3); /* Adjusted text shadow */
    padding-left: 25px;
}

main {
    padding-top: 180px;
    text-align: center;
}

main h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    padding-top: 380px;
    padding-bottom: 30px;
    text-align: left;
    padding-left: 150px;
    color: #3498db;
    text-shadow: 1px 1px 2px rgba(54, 69, 79, 0.3); /* Adjusted text shadow */
}


main h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding-top: px;
    padding-bottom: 105px;
    text-align: left;
    padding-left: 500px;
    padding-right: 150px;
    color: #3498db;
}

.accent-button {
    background-color: #F88379;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.accent-button:hover {
    background-color: #D4AF37;
}

#dynamic-greeting {
    font-size: 50px;
    color: #3498db;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 2px rgba(54, 69, 79, 0.3); /* Adjusted text shadow */
}

footer {
    background-color: #ffffff;
    color: #333333;
    padding: 0.3rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-family: 'Montserrat', sans-serif;;
    margin: 0;
    padding-left: 20px; /* Adjust this value to move text more or less to the right */
    text-align: left;
}